<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>학습 기록</title>
</head>
<body>
    <h1>Learn Record</h1>
    <p>{{ user.name }}</p>
    <p>{{ user.username }}</p>
    {% if records %}
        <table border="1">
            <thead>
            <tr>
                <th>카테고리</th>
                <th>제목</th>
                <th>처음 학습일</th>
                <th>마지막 학습일</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.get_category_display }}</td>
                <td>{{ record.content_title }}</td>
                <td>{{ record.created_at|date:"Y-m-d H:i" }}</td>
                <td>{{ record.updated_at|date:"Y-m-d H:i"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="checkbox" checked disabled>
    {% else %}
        <p>아직 학습 기록이 없습니다.</p>
    {% endif %}
</body>
</html>