@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
}
.signup-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.signup-box{
    display:flex;
    width:505px;
    height:757px;
    border:1px solid #ABABAB;
    border-radius:20px;
    flex-direction: column;
}
.container{
    display:flex;
    flex-direction: column;
    padding-left:35px;
    padding-top:27px;
}
.logo{
    width:79px;
    height:27px;
}
.title>p{
    font-size:30px;
    font-weight:700;
    margin:15px 0;
}

.input_container>p{
    font-weight:700;
    font-size:16px;
}
.input_container>input{
    width:418px;
    height:59px;
    border:0.4px solid #ABABAB;
    border-radius:10px;
    color:#ABABAB;
    padding-left:18px;
}
input:hover{
    border:0.6px solid black;
}
.password-wrapper>input:hover{
    border: 0.6px solid black;
}

.password-wrapper{
    position:relative;
}
.password-wrapper>input{
    width:418px;
    height:59px;
    border:0.4px solid #ABABAB;
    border-radius:10px;
    color:#ABABAB;
    padding-left:18px;
}
.password-wrapper>img{
    position: absolute;
    right:50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.button-container{
    margin-top:25px;
    margin-bottom:5px;
}
/* 버튼 기본 비활성 상태 */
.button {
    width:436px;
    height:59px;
    background-color: #4D0099; /* 비활성 색상 */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: not-allowed;
}

/* 버튼 활성 상태 */
.button.active {
  background-color: #3A0070; /* 활성 색상 */
  cursor: pointer;
}

.login-text{
    display:flex;
    justify-content: center;
    gap:5px;
}

.login-text>.text1{
    color:#ABABAB;
    font-weight:300;
    font-size:16px;
}
.button-container>.text2{
    color:#4D0099;
    font-weight:600;
    font-size:16px;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}