<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/partpage.css">
    </head>

    <body>
        <div>
            <header>
                <span class="icon">
                    <a href="home-login.html"> <!-- ✅ 페이지 연결할 때 경로 수정 필요 -->
                    <img src="../static/assets/img/arrow.svg"></a>
                </span>
                <span class="logo"><img src="../static/assets/img/logo.svg"></span>
            </header>
            <hr class="line">

            <main>
                <p style= 
                    "color: #4D0099;
                    font-family: Pretendard Variable;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;
                    margin-left: 280px;
                    margin-top: 50px;">
                    인물 
                </p>
                <section class="notion-1">
                    <div class="card-container" data-lesson-id="1">
                        <div class="card-number">01</div>
                        <div class="card-content">
                            <h3 class="card-title">프랑수아 풀랭 드라바르</h3>
                            <p class="card-dst">1647년도 출생 프랑스인 사상가, 언어학자, 페미니스트</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-2">
                    <div class="card-container" data-lesson-id="2">
                        <div class="card-number">02</div>
                        <div class="card-content">
                            <h3 class="card-title">메리 울스턴크래프트</h3>
                            <p class="card-dst">1759년도 출생 영국인 작가, 페미니스트</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-3">
                    <div class="card-container" data-lesson-id="3">
                        <div class="card-number">03</div>
                        <div class="card-content">
                            <h3 class="card-title">마르그리트 뒤랑</h3>
                            <p class="card-dst">1864년도 출생 프랑스인 작가, 페미니스트</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-4" data-lesson-id="4">
                    <div class="card-container">
                        <div class="card-number">04</div>
                        <div class="card-content">
                            <h3 class="card-title">시몬 드 보부아르</h3>
                            <p class="card-dst">1908년도 출생 프랑스인 사상가, 페미니스트</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-4" data-lesson-id="5">
                    <div class="card-container">
                        <div class="card-number">05</div>
                        <div class="card-content">
                            <h3 class="card-title">베티 프리던</h3>
                            <p class="card-dst">1921년도 출생 미국인 작가, 페미니스트</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>
            </main>
        </div>

        <script src="../static/js/part.js"></script>

    </body>
</html>