{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/partpage.css' %}">
    </head>

    <body>
        <div>
            <header>
                <span class="icon">
                    <a href="home-login.html"> <!-- ✅ 페이지 연결할 때 경로 수정 필요 -->
                    <img src="../static/assets/img/arrow.svg"></a>
                </span>
                <span class="logo"><img src="../static/assets/img/logo.svg"></span>
            </header>
            <hr class="line">

            <main>
                <p class="card">사건</p>
                <section class="notion-1">
                    <div class="card-container" data-lesson-id="1">
                        <div class="card-number">01</div>
                        <div class="card-content">
                            <h3 class="card-title">강남역 살인사건</h3>
                            <p class="card-dst">강남역 살인사건의 내용부터 논란까지 알아보기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-2">
                    <div class="card-container" data-lesson-id="2">
                        <div class="card-number">02</div>
                        <div class="card-content">
                            <h3 class="card-title">미투(#MeToo) 운동</h3>
                            <p class="card-dst">미투(#MeToo) 운동은 어떻게 시작되었을까?</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-3">
                    <div class="card-container" data-lesson-id="3">
                        <div class="card-number">03</div>
                        <div class="card-content">
                            <h3 class="card-title">직장 내 성희롱/차별 판결 및 집단 고발</h3>
                            <p class="card-dst">한국의 미투(#MeToo) 운동부터 법/제도의 변화까지 이어진 사건</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-4" data-lesson-id="4">
                    <div class="card-container">
                        <div class="card-number">04</div>
                        <div class="card-content">
                            <h3 class="card-title">혜화역 불법촬영 편파수사 규탄시위</h3>
                            <p class="card-dst">혜화역에 모인 이유부터 시위 이후까지 정리하기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-4" data-lesson-id="5">
                    <div class="card-container">
                        <div class="card-number">05</div>
                        <div class="card-content">
                            <h3 class="card-title">N번방 사건</h3>
                            <p class="card-dst">N번방 사건의 경위 자세히 알아보기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>
            </main>
        </div>

        <script src="{% static 'js/part.js' %}"></script>

    </body>
</html>