@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

.header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  height: 94px;
  display: flex;
  align-items: center;
  gap: 47px;
  padding-left: 36px;
  margin-bottom: 43px;
}

.content_container {
  padding: 0 107px;
  align-items: center;
}

.catrgory-name {
  color: #4d0099;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.text-container {
  text-align: center;
}

.complete-congrats {
  color: #4d0099;
  font-size: 28px;
  font-weight: 600;
}

.congrat-img {
  width: 290px;
  height: auto;
}

.go-home {
  color: #4d0099;
  text-decoration: none;
  font-weight: 600;
}

/* .explanation-container {
  gap: 0;
} */

.explanation {
  font-size: 20px;
  margin: 5px 0;
}
