@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

.header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  height: 94px;
  display: flex;
  align-items: center;
  gap: 47px;
  padding-left: 36px;
  margin-bottom: 43px;
}

.title {
  color: #4d0099;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.content_container {
  padding: 0 107px;
  align-items: center;
}
.progressbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.first {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d0099;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line1 {
  display: flex;
  width: 508px;
  border-bottom: 1px solid #bdaed9;
}
.second {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bdaed9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line2 {
  width: 478px;
  border-bottom: 1px solid #bdaed9;
}
.third {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bdaed9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressbar_text {
  display: flex;
  justify-content: center;
}

/* 수정 사항 */

.complete-congrats {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 22px;
}
.box_content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 82px;
}
/* .button_container {
  display: flex;
  justify-content: flex-end;
} */

.complete_text {
  text-align: center; /* 텍스트, 인라인요소 모두 중앙 */
  margin: 40px auto 0 auto;
}

.complete-feedback-link {
  margin-top: 20px;
}

.recommendation_container {
  text-align: center;
  margin: 32px auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 24px; /* 버튼 사이 간격 */
  margin-top: 40px;
}
.button-container a {
  text-align: center;
}

.recommendation_text {
  color: #6c6c6c;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 22px;
}

.book_link {
  color: #0051ff;
}

.complete-feedback-link {
  color: #4d0099;
  font-size: 16px;
}

/* 없애야할것들-참고사항 */
.study {
  color: #4d0099;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.quiz {
  color: #bdaed9;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-left: 483px;
  padding-right: 447px;
}
.finish {
  color: #bdaed9;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

button {
  width: 180px;
  height: 50px;
  background-color: #4d0099;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.source {
  color: #bdaed9;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 22px;
}
.source_title {
  border-top: 1px solid #bdaed9;
  border-bottom: 1px solid #bdaed9;
  color: #bdaed9;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding: 26px 0;
  margin-bottom: 34px;
}
.graybox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 64px 48px;
}
