/* 글자 스타일 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* hr 선 스타일(전체 공통 스타일) */
.line {
    background-color: #D9D9D9;
    height: 1px;            
    border: none;
}

.card-container {
    width: 1230px;
    height: 148px;
    display: flex; /* 내부 요소들을 가로로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #FFF; 
    border: 1px solid #D9D9D9;
    border-radius: 40px; 
    padding: 10px; /* 내부 여백 */
    margin: 25px auto; /* 중앙 정렬을 위한 마진 */

}

.card-number {
    background-color: #D9D9D9; 
    color: #FFF; 
    font-size: 32px; 
    font-weight: 700;
    width: 88px;
    height: 88px;
    border-radius: 30px; /* 모서리 둥글게 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px; 
    margin-left: 20px;
    flex-shrink: 0; /* 내용이 줄어들 때 숫자가 같이 줄어들지 않도록 */
}

.card-content {
    flex-grow: 1; /* 남은 공간을 채우도록 확장 */
}

.card-title {
    font-family: "Pretendard Variable";
    font-size: 24px;
    color: #D9D9D9; 
    margin-bottom: 5px; 
    font-style: normal;
    font-weight: 700;
}

.card-description {
    color: #D9D9D9;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}

.card-checkbox {
    width: 31px; 
    height: 30px;
    border: 2px solid #D9D9D9; 
    border-radius: 10px; 
    margin-left: 20px; 
    margin-right: 20px;
    flex-shrink: 0; /* 내용이 줄어들 때 아이콘이 같이 줄어들지 않도록 */
}

/* notion, person, histroy, event 컨테이너 모두 해당 */
.card-container.initial-state .card-number {
    background-color: #D9D9D9;
    color: #FFF;
}

.card-container.initial-state .card-title,
.card-container.initial-state .card-dst {
    color: #D9D9D9;
}

.card-container.initial-state .card-checkbox {
    border-color: #D9D9D9;
}


/* --- 완료 상태 --- */
.card-container.completed {
    border-color: #BDAED9; /* 완료된 카드의 테두리 */
}

.card-container.completed .card-number {
    background-color: #BDAED9;
    color: #FFF;
}

.card-container.completed .card-title,
.card-container.completed .card-dst {
    color: #BDAED9;
}

.card-container.completed .card-checkbox {
    border: none;
    background-color: #BDAED9;
}

/* --- 현재 상태 --- */
.card-container.current {
    background-color: #FFFFFF; /* 선택 사항: 현재 카드의 배경색 */
    border-color: #4D0099; /* 현재 카드의 테두리 */
}

.card-container.current .card-number {
    background-color: #4D0099;
    color: #FFF;
}

.card-container.current .card-title,
.card-container.current .card-dst {
    color: #4D0099;
}

.card-container.current .card-checkbox {
    border: 1px solid #4D0099;
}

/* --- 호버 효과 --- */
.card-container:hover {
    background-color: #F4EEFF; 
    border: 1px solid #4D0099; 
}

/* card-container 내부 요소에 대한 호버 효과 */
.card-container:hover .card-number {
    background-color: #4D0099;
}

.card-container:hover .card-title,
.card-container:hover .card-dst {
    color: #4D0099;
}

.card-container:hover .card-checkbox {
    border: 1px solid #4D0099;
}