{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학습 목록</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div>
        <header>
            <a href="{% url 'home' %}" class="icon">
                <img src="{% static 'assets/img/arrow.svg' %}">
            </a>
            <span class="logo">
                <img src="{% static 'assets/img/logo.svg' %}">
            </span>


            <span class="account">
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="{% static 'assets/img/account.svg' %}">
                    </button>
                    <div class="dropdown-content">
                        <!--로그인 상태-->
                        {% if user.is_authenticated %}
                            <p class="name">{{ user.name }}님</p>
                            <p class="add">@{{ user.username }}</p><hr class="line">
                            <a href="{% url 'accounts:learn_record' %}">나의 학습</a><hr class="line">
                            <a href="{% url 'accounts:password_change' %}">비밀번호 변경</a><hr class="line">
                            <a href="{% url 'feedback_create' %}">의견 보내기</a><hr class="line">
                            <a href="{% url 'accounts:logout' %}">로그아웃</a>
                        <!-- 로그아웃 상태 -->
                        {% else %}
                            <a href="{% url 'accounts:login' %}">로그인</a>
                        {% endif %}
                    </div>
                </div>
            </span>
        </header>
        <hr class="line">

    <main>
    {% for item in categories_with_progress %}
        <section class="{{ item.category.slug }}-section">
            <a href="{% url 'learn:curriculum' item.category.slug %}" class="tag">
                <div class="{{ item.category.slug }}-page">
                    <h1 class="{{ item.category.slug }}">
                        {{ item.category.name }}
                    </h1>
                    <span id="progress-{{ item.category.slug }}">{{ item.completed }} / {{ item.total }}</span>
                </div>
            </a>
        </section>
    {% endfor %}
    </main>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
