{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>home</h1>
    <!-- 학습 시작하기 -->
    <a href="{% url 'learn:category_list' %}">학습 시작하기</a>
    
    <!-- 유저 로그인 상태 -->
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        <p>{{ user.name }}</p>
        <p>{{ user.username }}</p>
        <a href="{% url 'accounts:password_change'%}">비밀번호 변경</a>
    </div>
    <!-- 유저 로그인 상태 x -->
    {% else %}
    <div>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        <a href="{% url 'accounts:login' %}">로그인</a>
    </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <script>
        alert("{{ message|escapejs }}");
    </script>
    {% endfor %}
    {% endif %}
</body>
</html>