<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/css/learn/category_complete.css"
    />
    <title>모든 커리큘럼</title>
  </head>
  <body>
    <!-- 이전(커리큘럼) -->
    <div class="header">
      <a href="{% url 'learn:category_list' %}"
        ><img src="../../static/assets/img/arrow.svg" alt=""
      /></a>
      <img src="../../static/assets/logo2.png" alt="" />
    </div>
    <div class="content_container">
      <!-- 제목 -->
      <h1 class="catrgory-name">{{ category.name }}</h1>

      <!-- 내용 -->
      <div class="text-container">
        <p class="complete-congrats">대단해요!</p>
        <p class="complete-congrats">
          {{ category.name }} {{ curriculums_with_status|length }}강 모두 학습을
          완료하였어요
        </p>

        <!-- 이미지 -->
        <img
          class="congrat-img"
          src="../../static/assets/img/congratulation.png"
          alt=""
        />
        <div class="explanation-container">
          <p class="explanation">
            해당하는 강좌를 클릭하면 학습했던 내용을 다시 볼 수 있고,
          </p>

          <p class="explanation">
            <a class="go-home" href="{% url 'learn:category_list' %}">홈으로</a>
            돌아가서 다른 파트를 학습할 수도 있어요.
          </p>
        </div>
      </div>
      <br />
      <br />

      <!-- 커리큘럼 나열 -->
      <ul class="curriculum-list">
        {% for item in curriculums_with_status %}
        <li class="curriculum-card">
          {% if item.is_accessible %}
          <span class="curriculum-number">{{ item.number_in_category }}</span>
          <div class="curriculum-content">
            <span class="curriculum-title">
              <a
                class="curriculum-link"
                href="{% url 'learn:curriculum_detail' item.curriculum.id %}"
              >
                {{ item.curriculum.title }}
              </a>
              {% if item.is_completed %}<span class="curriculum-dot"></span>{%
              endif %}
            </span>
            {% else %}
            <h3 style="color: gray">
              {{ item.number_in_category }} {{ item.curriculum.title }} (먼저
              이전 강의를 완료하세요)
            </h3>
            {% endif %}
            <p class="curriculum-explanation">
              {{ item.curriculum.explanation }}
            </p>
          </div>
          <span class="curriculum-dot"></span>
        </li>
        {% empty %}
        <p>등록된 커리큘럼이 없습니다.</p>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
