<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/learn/learn_complete.css" />
    <title>해당 커리큘럼 완료</title>
  </head>
  <body>
    <!-- 이전(커리큘럼) -->
    <div class="header">
      <a href="{% url 'learn:curriculum' curriculum.category.slug %}"
        ><img src="../../static/assets/img/arrow.svg" alt=""
      /></a>
      <img src="../../static/assets/logo2.png" alt="" />
    </div>

    <div class="content_container">
      <!-- 제목 -->
      <h1 class="title">{{ curriculum.id }}. {{ curriculum.title }}</h1>

      <!-- 단계 표시 -->
      <div class="progressbar_container">
        <div class="first">1</div>
        <div class="line1"></div>
        <div class="second">2</div>
        <div class="line2"></div>
        <div class="third">3</div>
      </div>

      <div class="progressbar_text">
        <div class="study">학습하기</div>
        <div class="quiz">퀴즈 풀기</div>
        <div class="finish">학습 완료!</div>
      </div>
      <br />
      <br />

      <!-- 내용 -->
      <div class="complete_text">
        <p class="complete-congrats">수고하셨습니다!</p>
        <span class="complete-title"
          >{{ curriculum.id }}. {{ curriculum.title }}
        </span>
        <span class="complete-msg">학습을 완료하였어요!</span>
        <p>
          <a class="complete-feedback-link" href="{% url 'feedback_create' %}"
            >클릭하여 학습과 관련한 의견 보내기</a
          >
        </p>
      </div>
      <br />

      <!-- 책 추천 -->
      <div class="recommendation_container">
        <h3 class="recommendation_text">이런 책은 어때요?</h3>

        {% for book in book_recommendations %} {{ book.content|linebreaksbr }}
        <!-- |linebreaksbr: 줄바꿈 포함 -->
        <br />
        {% if book.image %}
        <img
          class="book_image"
          src="{{ book.image.url }}"
          alt="{{ book.title }}"
          style="width: 150px"
        />
        <br />
        {% endif %} {% if book.link %}
        <a class="book_link" href="{{ book.link }}"
          >클릭하여 책 구매하러 가기</a
        >
        {% endif %} {% endfor %}
      </div>
      <br />

      <!-- 홈으로 돌아가기 & 다음 강좌 바로가기 -->
      <div class="button-container">
        <a class="go_home" href="{% url 'learn:category_list' %}"
          >홈으로 돌아가기</a
        >

        {% if next_curriculum %}
        <a
          class="go_next"
          href="{% url 'learn:curriculum' curriculum.category.slug %}"
          >이어서 학습하기</a
        >
        {% else %}
        <a
          class="go_next"
          href="{% url 'learn:category_complete' category_slug=curriculum.category.slug %}"
          >이어서 학습하기</a
        >
        {% endif %}
      </div>
    </div>
  </body>
</html>
