<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커리큘럼</title>
</head>
<body>
    <!-- 이전(카테고리) -->
    <a href="{% url 'learn:category_list' %}">←</a>
    <br/>

    <!-- 커리큘럼 나열 -->
    {% for curriculum in curriculums %}
        <a href = "{% url 'learn:curriculum_detail' curriculum.id %}">{{ curriculum.title  }}</a>
        <br/>
    {% empty%}
        등록된 커리큘럼이 없습니다.
    {% endfor %}
</body>
</html>