{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커리큘럼</title>
    <link rel="stylesheet" href="{% static 'css/partpage.css' %}">
</head>

<body>
<div>
    <!-- 이전(카테고리) -->
    <header class="container">
        <span class="icon">
            <a href="{% url 'learn:category_list' %}">
                <img src="{% static 'assets/img/arrow.svg' %}" alt="이전 페이지">
            </a>
        </span>
        
        <span class="account">
            <div class="same"><button class="dropbtn"></button></div>
            <div class="dropdown-content"></div>
            <div class="same"><button class="logout"></button></div>
        </span>
        
    </header>
    <hr class="line">

    <main>
        <p class="card">{{ category.name }}</p>
        <section class="card-section">
            {% for item in curriculums_with_status %}
                {% if item.is_accessible %}
                    <a href="{% url 'learn:curriculum_detail' category.slug item.curriculum.number %}" class="card-link">
                {% endif %}

                <div class="card-container
                    {% if not item.is_accessible %}disabled{% endif %}
                    {% if item.is_completed %}completed{% endif %}
                    {% if item.id == some_current_item_id and not item.is_completed %}current{% endif %}"
                    data-item-id="{{ item.curriculum.number }}"
                >
                    <div class="card-number">{{ forloop.counter|stringformat:"02d" }}</div>
                    <div class="card-content">
                        <h3 class="card-title">{{ item.curriculum.title }}</h3>
                        <p class="card-dst">{{ item.curriculum.explanation }}</p>
                    </div>

                    <div class="card-checkbox"></div>
                </div>

                {% if item.is_accessible %}
                    </a>
                {% endif %}
            {% empty %}
                <p>등록된 커리큘럼이 없습니다.</p>
            {% endfor %}
        </section>
    </main>
</div>

<script src="{% static 'js/part.js' %}"></script>
</body>
</html>
