<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해당 커리큘럼 완료</title>
</head>
<body>
    <!-- 이전(커리큘럼) -->
    <a href="{% url 'learn:curriculum' curriculum.category.slug %}">←</a>
    <br/>

    <!-- 제목 -->
    <h1>{{ curriculum.id }}. {{ curriculum.title }}</h1>

    <!-- 단계 표시 -->
    1 학습하기 2 퀴즈 풀기 3 학습 완료
    <br/>
    <br/>
    
    <!-- 내용 -->
    <div>
        <p>수고하셨습니다!</p>
        <p>{{ curriculum.id }}. {{ curriculum.title }} 학습을 완료하였어요!</p>
        <p>
            <a href="{% url 'feedback_create' %}">클릭하여 학습과 관련한 의견 보내기</a>
        </p>
    </div>
    <br/>
    
    <!-- 책 추천 -->
    <div>
        <h3>이런 책은 어때요?</h3>

        {% for book in book_recommendations %}
            {{ book.content|linebreaksbr }}
            <!-- |linebreaksbr: 줄바꿈 포함 -->
            <br/>
            {% if book.image %}
                <img src="{{ book.image.url }}" alt="{{ book.title }}" style="width:150px;">
                <br/>
            {% endif %}

            {% if book.link %}
                <a href="{{ book.link }}">클릭하여 책 구매하러 가기</a>
            {% endif %}

        {% endfor %}
    </div>
    <br/>

    <!-- 홈으로 돌아가기 & 다음 강좌 바로가기 -->
    <a href="{% url 'home' %}">홈으로 돌아가기</a> <!--이주연_url 수정-->

    {% if next_curriculum %}
        <a href="{% url 'learn:curriculum' curriculum.category.slug %}">다음 강 학습하기</a>
    {% else %}
        <a href="{% url 'learn:category_complete' category_slug=curriculum.category.slug %}">다음 강 학습하기</a>
    {% endif %}


</body>
</html>