<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/mypage_feedback.css" />
    <title>마이페이지</title>
  </head>
  <body>
    <div class="mypage-container">
      <header class="mypage-header">
        <a class="back-btn-link">
          <img src="../static/assets/backbtn.svg" class="back-btn" />
        </a>
        <a class="mypage-logo-link">
          <img
            src="../static/assets/logo.svg"
            alt="젠터러시 로고"
            class="mypage-logo"
          />
        </a>
        <div class="profile-icon">
          <img src="../static/assets/profile.svg" alt="프로필" />
        </div>
      </header>
      <div class="mypage-content">
        <nav class="mypage-nav">
          <ul>
            <li><a href="mypage_learning.html">나의 학습</a></li>
            <li><a href="mypage_pwChange.html">비밀번호 변경</a></li>
            <li class="active">
              <a href="mypage_feedback.html">의견 보내기</a>
            </li>
          </ul>
        </nav>
        <main class="mypage-main">
          <section class="mypage-section feedback active">
            <h1>의견 보내기</h1>
            <form class="feedback-form">
              <div class="input-group">
                <input
                  type="text"
                  class="part-input"
                  id="partInput"
                  placeholder="파트와 강좌를 정확히 작성해주세요. (ex. 개념 파트의 강남역 살인사건)"
                  required
                />
              </div>
              <textarea
                class="opinion-textarea"
                id="opinionInput"
                placeholder="의견은 자유롭게 작성해주세요. 오타, 내용 오류, 추가되었으면 하는 내용 등 무엇이든 좋습니다!"
                rows="15"
                required
              ></textarea>
              <input
                type="email"
                class="email-input"
                id="emailInput"
                placeholder="답변 받으실 이메일 주소를 입력해주세요."
              />
              <div class="feedback-btn-wrap">
                <button type="submit" class="feedback-btn">전송하기</button>
              </div>
            </form>
          </section>
        </main>
      </div>
    </div>
    <script src="../static/js/mypage_feedback.js"></script>
  </body>
</html>
