<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/partpage.css">
    </head>

    <body>
        <div>
            <header>
                <span class="icon">
                    <a href="home-login.html"> <!-- ✅ 페이지 연결할 때 경로 수정 필요 -->
                    <img src="../static/assets/img/arrow.svg"></a>
                </span>
                <span class="logo"><img src="../static/assets/img/logo.svg"></span>
            </header>
            <hr class="line">

            <main>
                <p class="card">개념</p>
                <section class="notion-1">
                    <div class="card-container" data-lesson-id="1">
                        <div class="card-number">01</div>
                        <div class="card-content">
                            <h3 class="card-title">페미니즘</h3>
                            <p class="card-dst">페미니즘의 학술적 정의 쉽게 알아보기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-2">
                    <div class="card-container" data-lesson-id="2">
                        <div class="card-number">02</div>
                        <div class="card-content">
                            <h3 class="card-title">본질주의적 페미니즘</h3>
                            <p class="card-dst">본질적 페미니즘의 학술적 정의 쉽게 알아보기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-3">
                    <div class="card-container" data-lesson-id="3">
                        <div class="card-number">03</div>
                        <div class="card-content">
                            <h3 class="card-title">사회문화적 페미니즘</h3>
                            <p class="card-dst">사회문화적 페미니즘의 학술적 정의 쉽게 알아보기</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>

                <section class="notion-4">
                    <div class="card-container" data-lesson-id="4">
                        <div class="card-number">04</div>
                        <div class="card-content">
                            <h3 class="card-title">유리천장</h3>
                            <p class="card-dst">통계로 알아보는 유리천장의 개념</p>
                        </div>
                        <div class="card-checkbox"></div>
                    </div>
                </section>
            </main>
        </div>

        <script src="../static/js/part.js"></script>

    </body>
</html>